{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Entscheidungsaufgabe{% endblock %}

{% block content %}

<p>Leider konnte Ihnen keine andere Person zugeteilt werden. Sie werden daher eine Runde mit einer <strong>hypothetischen</strong> Person spielen.</p>

<p>
    <strong>Ihnen wurde die Rolle A zugewiesen. </strong><br/>
    <br/>
    Geben Sie nun irgendeinen Betrag zwischen 0 und 100 Cent an Person B ab.<br/>
    <br/>
    {% formfield player.offer %}
</p>
{% next_button %}
{% endblock %}